<button routerLink='/add' type='button'>+</button> |
<button (click)='clearProducts()' type='button'>clear</button> |
<button (click)='undo()' type='button'>undo</button>
<br>
<ul>
  <li *ngFor='let product of getProducts(); let i = index'>
    <span routerLink='/edit/{{ i+1 }}'>
 {{ i+1 }}, {{ product.name }}, 單價: {{ product.price | number:'1.0-2' }}, 數量: {{ product.amount | number:'1.0-2' }}, 小計: {{ product.price
* product.amount | number:'1.0-2' }}
    </span>
    <button (click)='remove(i)'>×</button>
  </li>
</ul>
<div>稅金(5%) {{ countTax() | currency:'USD':true:'1.2-2' }}</div>
<div>總額 {{ countSum() | currency:'USD':true:'1.2-2' }}</div>